/* _____________________Редактор_________________ */


#gjs {
  border: 0px solid rgb(28, 133, 98);
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}





